@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-label {
    font-size: 16px; /* ขนาดของตัวอักษร */
    font-weight: bold; /* ความหนาของตัวอักษร */
    color: #333; /* สีของตัวอักษร */
}

.data-font-medium {
    font-size: 16px;
}

.small-descriptions .ant-descriptions-item-label,
.small-descriptions .ant-descriptions-item-content {
    font-size: 16px;
    padding: 0px 0px;
}

.small-descriptions .ant-descriptions-view {
    border-spacing: 8px 12px;
}

.small-card {
    padding: 0px; /* ลดระยะห่างภายใน */
    margin-bottom: 10px; /* ลดระยะห่างระหว่าง cards */
    font-size: 16px; /* ลดขนาดตัวอักษร */
}

.card-header-small {
    height: var(--headerHeightSM);
}

@media (max-width: 600px) {
    .card-header {
        height: var(--headerHeightSM); /* ใช้ความสูงนี้เมื่อหน้าจอเล็ก */
    }}
.ant-select-dropdown .ant-select-item,
.ant-select-dropdown .ant-select-item-option-content {
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.chartContainer {
  height: 24rem;
}

.change-password-link {
    color: #FFD700; /* Yellow color */
    text-decoration: none; /* Removes underline */
    display: flex;
    align-items: center;
    transition: color 0.3s ease; /* Smooth transition for color change */
}

.change-password-link:hover {
    color: #FFA500; /* Darker yellow/orange on hover */
}

.change-password-link .icon {
    font-size: 16px;
    color: #FFD758;
    margin-right: 8px;
}

.custom-input {
    transition: box-shadow 0.3s ease-in-out;
    outline: none;
    width: 600px; /* ตั้งค่าความยาวเป็น 50% ของพื้นที่ที่มี */
    height: 45px; /* ตั้งค่าความสูงเพิ่มเป็น 45px */
    border-radius: 20px; /* เพิ่มความโค้งมนของขอบ */
    border: 1px solid #4b70af;
}

.custom-input:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.custom-input:focus {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.button-container {
    padding-right: 16px; /* หรือปรับค่าตามความจำเป็น */
}

.button-style {
    width: 100%; /* หรือตั้งค่าขนาดที่เหมาะสม */
    margin-right: auto; /* หรือปรับเป็นค่าเฉพาะ */
}
